<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doggenii resume</title>
    <link rel="stylesheet" href="styles/style.css">
  </head>
  <body>
    <header>
    <div class="container">
      <img src="/images/matrix-code.gif" class="matrix" alt="matrix-code">
    </div>
    </header>
    <main class="description-text">
      <img src="{{ url_for('static', filename='/images/github_icon.png') }} alt="github-icon" class="github-icon">

      <a href="https://github.com/Doggenii" class="github-href">GitHub</a>
    </main>
    <footer>
    </footer>
  </body>
</html>